body
{
    background: #333;
}

#gameName
{
    color: #fff;
    font-family: Courier;
    font-weight: bold;
    font-size: 24px;
    text-align: center;


}

#map
{
    display: block;
    margin: 30px auto 0px;
    background: #fff;
}